In [4]:
# 1.A:-
var_str='Deb'
var_list=['Deb',15,True]
var_float=7.5
var_tuple=('Deb',15,1,"!")

In [3]:
# 2.A:- i)String ii)String iii)List iv)Float

In [6]:
# 3.A:-
number1=45
number2=4
print('number1/number2 is',number1/number2,'number1%number2 is',number1%number2,'number1//number2 is',number1//number2,'number1**number2 is',number1**number2)

number1/number2 is 11.25 number1%number2 is 1 number1//number2 is 11 number1**number2 is 4100625

In [7]:
# 5.A:-
values = ['Deb',15,True,1,'N',0,'!',7.54,['right','wrong'],{True,False}]
for i in values:
    print('Values =',i,'and type of',i,'is',type(i))

Values = Deb and type of Deb is <class 'str'>
Values = 15 and type of 15 is <class 'int'>
Values = True and type of True is <class 'bool'>
Values = 1 and type of 1 is <class 'int'>
Values = N and type of N is <class 'str'>
Values = 0 and type of 0 is <class 'int'>
Values = ! and type of ! is <class 'str'>
Values = 7.54 and type of 7.54 is <class 'float'>
Values = ['right', 'wrong'] and type of ['right', 'wrong'] is <class 'list'>
Values = {False, True} and type of {False, True} is <class 'set'>

In [9]:
# 5.A:-
num1 = input('Enter first number: ')
num1 = int(num1)
num2 = input('Enter second number: ')
num2 = int(num2)
if(num2==1 or num2==0):
    print("First number(",num1,")is divisible by second number(",num2,") infinite times")
else:
    if(num1%num2 == 0):
        i=0
        var=num1
        while var!=0 and var%num2==0:
            var=var//num2
            i=i+1
        print("First number(",num1,")is divisible by second number(",num2,")",i,'times')
    else:
        print("First number(",num1,")is not divisible by second number(",num2,")")

Enter first number:  24
Enter second number:  2

First number( 24 )is divisible by second number( 2 ) 3 times

In [17]:
# 6.A:-
num_list = [5,7,8,3,6,4,0,7,54,66,32,23,58,9,91,27,26,25,27,38,90,132,42,54,68]
i=1
for j in num_list:
    if j%3==0:
        print('ELement number',i,'(',j,') is divisible by 3')
    else:
        print('ELement number',i,'(',j,') is not divisible by 3')
    i=i+1

ELement number 1 ( 5 ) is not divisible by 3
ELement number 2 ( 7 ) is not divisible by 3
ELement number 3 ( 8 ) is not divisible by 3
ELement number 4 ( 3 ) is divisible by 3
ELement number 5 ( 6 ) is divisible by 3
ELement number 6 ( 4 ) is not divisible by 3
ELement number 7 ( 0 ) is divisible by 3
ELement number 8 ( 7 ) is not divisible by 3
ELement number 9 ( 54 ) is divisible by 3
ELement number 10 ( 66 ) is divisible by 3
ELement number 11 ( 32 ) is not divisible by 3
ELement number 12 ( 23 ) is not divisible by 3
ELement number 13 ( 58 ) is not divisible by 3
ELement number 14 ( 9 ) is divisible by 3
ELement number 15 ( 91 ) is not divisible by 3
ELement number 16 ( 27 ) is divisible by 3
ELement number 17 ( 26 ) is not divisible by 3
ELement number 18 ( 25 ) is not divisible by 3
ELement number 19 ( 27 ) is divisible by 3
ELement number 20 ( 38 ) is not divisible by 3
ELement number 21 ( 90 ) is divisible by 3
ELement number 22 ( 132 ) is divisible by 3
ELement number 23 ( 42 ) is divisible by 3
ELement number 24 ( 54 ) is divisible by 3
ELement number 25 ( 68 ) is not divisible by 3

In [ ]:
# 7.A:-
"""Mutable data types are those which can be updated(operations like insert,delete,change) after decleration.
Whereas immutable data types are those which cannot be updated(operations like insert,delete,change) after decleration.
Examples of mutable data types are lists,dictionaries and sets, whereas example of immutable data types are strings and tuples."""